<script src="https://kit.fontawesome.com/6dfb06202d.js" crossorigin="anonymous"></script>
<header>
    
    <img id="logo" src="/img/filme.png" alt="Logo-Filme">
    <nav>
        <ul>
            <a href="/"> <li><i class="fa-solid fa-folder-minus"></i> Index </li> </a>
            <a href="/criar"> <li> <i class="fa-solid fa-square-plus"></i> Adicionar </li> </a>
        </ul>
    </nav>
</header>